* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
p {
  font-weight: bolder;
  font-size: 250px;
}
.div {
  border: 2px solid red;
  width: 200px;
  height: 190px;
  background-color: aqua;
}
